<script lang="ts">
	import '../app.css';
	import Footer from '../components/Footer.svelte';
</script>

<main>
	<slot />
	<Footer />
</main>

<style>
	main {
		background-color: var(--color-bg);
		width: 75%;
		margin: 2% auto 4% auto;
		padding: 1% 2% 0.5% 2%;
		border: 3px solid var(--color-primary);
		filter: drop-shadow(0.75rem 0.75rem 0 var(--color-primary));
	}
	@media (max-width:961px) {
		main {
			width: calc(96% - 6px);
			margin: 0;
		}
	}
</style>