<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import ArticleLink from '../components/ArticleLink.svelte';
	import Header from '../components/Header.svelte';
	import Project from '../components/Project.svelte';
</script>

<svelte:head>
	<title>leo wilson</title>
</svelte:head>

<Header pubDate={new Date('7 Oct 2021')} upDate={new Date('8 Oct 2021')} />

<div class="clearfix">
	<div class="col-big h-card">
		<h1 class="invis p-name">Leo Wilson</h1>
		<section>
			<h3>About Me</h3>
			<p class="p-note">
				I'm a nerd who occassionally codes things.
			</p>
			<p>
				Throughout my time as a programmer, I've worked with a diverse set of languages and technologies.
				After discovering Svelte and quickly realizing how much I prefer it to other web frameworks,
				I decided to once again rewrite my website.
			</p>
			<p>
				A long-time enthusiast of open-source software, I use Linux on a daily basis;
				most of my time is spent in Arch and Pop!_OS. Whenever possible, I use free/libre
				alternatives to proprietary programs.
			</p>
			<p>
				From slide rules to fountain pens, I also quite enjoy using traditional technology,
				a much-needed break from the modern world.
			</p>
		</section>
		<section>
			<h3>Contact / Links</h3>
			<ul>
				<li>website: <a href="https://lwilson.dev" class="u-url">lwilson.dev</a></li>
				<li>gitlab: <a href="https://gitlab.com/lwilson" rel="me">lwilson</a></li>
				<li>github: <a href="https://github.com/leomwilson" rel="me">leomwilson</a></li>
				<li>
					email:
					<a href="mailto:leo%40lwilson.dev" class="u-email">leo&#64;lwilson.dev</a>
					(<a href="https://lwilson.dev/lwilson.asc" class="u-key" title="OpenPGP Public Key">gpg</a>)
				</li>
				<li>matrix: <a href="https://matrix.to/#/@leo:lwilson.dev">&#64;leo:lwilson.dev</a></li>
			</ul>
		</section>
		<section>
			<h3>Featured Projects</h3>
			<Project name="Personal Website" linkName="GitLab" linkHref="https://gitlab.com/lwilson/lwilson.dev"
				skills="SvelteKit, TypeScript, Kubernetes" border={false}>
				The current iteration of my personal website embraces modern web technologies and makes use of
				the design and typography techniques I've learned so far.
			</Project>
			<Project name="AZtendance" linkName="GitLab" linkHref="https://gitlab.com/team6479/aztendance"
				skills="SvelteKit, TypeScript, Go, PostgreSQL, Kubernetes">
				Designed for my high school robotics team, AZtendance tracks members' attendance at meetings
				and compiles the data to be read by team leadership.
			</Project>
			<Project name="Agedit" linkName="GitLab" linkHref="https://gitlab.com/lwilson/agedit"
				skills="Linux Shell, Age">
				This simple script allows users to edit files and easily encrypt them at rest with Age.
			</Project>
		</section>
		<section>
			<h3>Support Me</h3>
			<p>
				If you want to support me and my various projects, the best way to do so
				is via <a href="https://ko-fi.com/lwilson">my Ko-fi page</a>.
			</p>
		</section>
	</div>
	<div class="col-small">
		<section>
			<h3>Articles</h3>
			<!--<ArticleLink title="This Website's Design" href="/articles/design" date={new Date('7 Oct 2021')} />-->
			<ArticleLink title="Introducing my New Website" href="/articles/intro" date={new Date('7 Oct 2021')}
				border={false} />
		</section>
	</div>
</div>

<style>
	h3 {
		font-family: var(--font-head);
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	section {
		padding: 0 5%;
	}

	.col-big {
		width: 60%;
		float: left;
	}
	.col-small {
		width: 40%;
		float: left;
	}
	@media (max-width:641px) {
		.col-big {
			width: 100%;
		}
		.col-small {
			width: 100%;
		}
	}

	.clearfix {
		overflow: auto;
	}
	.clearfix::after {
		content: '';
		clear: both;
		display: table;
	}

	.invis {
		display: none;
	}
</style>