<script lang="ts">
    import Article from '../components/Article.svelte';
</script>
<svelte:head>
    <title>privacy | leo wilson</title>
</svelte:head>
<Article title="Privacy" pubDate={new Date('10 Oct 2021')}>
    <p>
        I take privacy seriously. That means this
        website does not collect personally-identifiable
        data. I also do not have any privacy-invasive
        tracking software such as Google Analytics
        installed here.
    </p>
    <p>
        I do collect some basic analytics data using
        <a href="https://plausible.io">Plausible</a>.
        Plausible is open-source and specifically
        designed to respect users' privacy by ensuring
        that any data it collects is completely anonymous;
        it doesn't track demographics or cross-site
        behaviour. You might have noticed that this
        site doesn't have one of those ubiquitous
        cookie consent pop-ups. That's because
        Plausible doesn't use cookies! If you want
        to know exactly what information Plausible
        collects, you can view their
        <a href="https://plausible.io/plausible.io">example dashboard</a>
        or read their <a href="https://plausible.io/docs">documentation</a>.
    </p>
    <p>
        If you're still uncomfortable with that,
        you can block outgoing requests to
        <span class="mono">p.lwilson.dev</span> using
        software like uBlock Origin or PiHole to
        disable all tracking on this website.
    </p>
</Article>

<style>
    .mono {
        font-family: var(--font-mono);
        font-size: 0.9em;
    }
</style>