<script lang="ts">
    import Header from './Header.svelte';
    export let title;
    export let pubDate: Date;
    export let upDate: Date = null;
</script>

<Header {pubDate} {upDate} />

<article>
    <h1>{title}</h1>
    <slot />
</article>

<style>
    article {
        padding: 0 20%;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    h1 {
        font-family: var(--font-head);
        font-size: 2rem;
    }
    @media (max-width:961px) {
        article {
            padding: 0 10%;
        }
    }
</style>