<script lang="ts">
    import { formatter } from "../util/dates";
    export let title, href;
    export let date: Date;
    export let border = true;
</script>

<article class="{border ? "border" : ""}">
    <h4><a {href}>{title}</a></h4>
    <i>Published <time datetime="{date.toISOString()}">{formatter.format(date)}</time></i>
</article>

<style>
    article {
        padding: 0.75em 0;
    }
    h4 {
        font-family: var(--font-head);
        font-weight: 400;
        font-size: 1.15em;
        margin: 0.25em 0;
    }
    .border {
        border-bottom: 2px solid var(--color-primary);
    }
</style>