<footer>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/privacy">Privacy</a>
            </li>
            <li>
                <a href="https://gitlab.com/lwilson/lwilson.dev">Source Code (AGPLv3)</a>
            </li>
        </ul>
    </nav>
</footer>

<style>
    footer {
        width: 100%;
        border-top: 3px solid var(--color-primary);
        margin-top: 1%;
    }
    ul {
        width: 100%;
        padding: 0;
        display: table;
        table-layout: fixed;
    }
    li {
        display: table-cell;
        text-align: center;
    }
</style>