<script lang="ts">
    import { formatter } from "../util/dates";

    export let pubDate: Date;
    export let upDate: Date = null;
</script>

<header>
    <h2><a href="/">leo wilson</a></h2>
    <section class="right">
        <p>
            Published<br>
            <time datetime="{pubDate.toISOString()}">{formatter.format(pubDate)}</time>
        </p>
        {#if upDate}
        <p class="leftBar">
            Last Updated<br>
            <time datetime="{upDate.toISOString()}">{formatter.format(upDate)}</time>
        </p>
        {/if}
    </section>
</header>

<style>
    header {
        border-bottom: 3px solid var(--color-primary);
        padding: 0 3%;
    }

    section {
        text-align: center;
    }

    .right {
        display: inline-block;
        position: absolute;
        right: calc(5% + 3px);
    }

    .right p {
        display: inline-block;
        padding: 0 1rem;
    }

    .leftBar {
        border-left: 2px solid var(--color-primary);
    }

    h2 {
        font-family: var(--font-head);
        font-size: 3rem;
        font-weight: 900;
        margin: 1rem auto;
        display: inline-block;
    }
    h2 a {
        color: var(--color-primary) !important;
    }

    @media (max-width:641px) {
        h2 {
            display: block;
            text-align: center;
        }
        .right {
            display: block;
            position: relative;
            margin: 0 auto;
            right: auto;
        }
    }
</style>