<script lang="ts">
    export let name, linkName, linkHref, skills;
    export let border = true;
</script>

<section class="{border ? "border" : ""}">
    <h4>{name}</h4>
    <p><a href="{linkHref}">{linkName}</a> &#8212; <i>{skills}</i></p>
    <p><slot /></p>
</section>

<style>
    .border {
        border-top: 2px solid var(--color-primary);
    }
    h4 {
        font-family: var(--font-head);
        font-size: 1.5rem;
        font-weight: 300;
        margin: 1rem 0;
    }
</style>