<script>
import Article from "../../components/Article.svelte";

</script>
<svelte:head>
    <title>introducing my new website | leo wilson</title>
</svelte:head>

<Article pubDate={new Date('7 Oct 2021')} title="Introducing my New Website">
    <p>
        I've once again redesigned this website. This time, it's written in TypeScript using SvelteKit,
        a departure from my usual style of pure HTML and CSS. Over the next few posts I'll cover my
        rational for the technologies used and my experience using them.
    </p>
    <p>
        This is also the first time my personal site has used this domain, lwilson.dev. This new domain
        is generally easier to remember than my old domain, as well as being shorter and therefore
        easier to type.
    </p>
    <p>
        It's worth noting that in the past I've never really been able to keep these blogs updated
        regularly, so I usually end up deleting them after a while. My goal is for that to change
        this time around, but I don't expect frequent posts here.
    </p>
</Article>