@import '@fontsource/fira-mono';
@import '@fontsource/inter/variable.css';
@import '@fontsource/pt-serif';

:root {
	font-family: 'PT Serif', 'Heuristica', 'Times New Roman', 'Times Roman', 'Source Serif', serif;
	--font-head: 'Inter', 'Fira Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	--font-mono: 'Fira Mono', 'JetBrains Mono', monospace;
	--color-bg: #EAE2B7;
	--color-primary: #003049;
	--color-secondary: #D62828;
}

html, body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
html {
	background: linear-gradient(to right bottom, #D6D6D6, #ADADAD);
}

* {
	color: var(--color-primary);
}

a {
	color: var(--color-secondary);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}